.qaq{
    width:1200px;
    height:200px;
    background-color:blueviolet;
    margin: auto;  /*居中*/
}
.ava{
    width:1200px;
    height:500px;
    background-color:rgb(120, 18, 128);
    margin: auto;  /*居中*/
}
.bvb{
    width:1200px;
    height:100px;
    background-color:blueviolet;
    margin: auto;  /*居中*/
}